<h2>Project: <%= @project.name %></h2>

<div class="text-xs-right"><%= link_to("edit", edit_project_path(@project), class: "btn btn-warning") %></div>

<h4>Api Docs</h4>
<% unless @project.swagger_definitions.blank? %>
  <ul>
    <% @project.swagger_definitions.each do |swagger| %>
      <li><%= link_to(swagger.name, swagger_engine.root_path(url: swagger.definition.url), target: :blank) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No api docs.</p>
<% end %>

<h4>Links</h4>
<% unless @project.links.blank? %>
  <ul>
    <% @project.links.each do |link| %>
      <li>
        <%= image_tag(link.logo.url, height: 50) if link.logo.url.present? %>
        <%= link_to(link.name, link.formatted_url, target: :blank) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No links.</p>
<% end %>

<h4>Notes</h4>
<% unless @project.notes.blank? %>
  <pre>
<%= @project.notes %>
  </pre>
<% else %>
  <p>No notes.</p>
<% end %>

<h4>Created at</h4>
<p><%= @project.created_at %></p>

<h4>Updated at</h4>
<p><%= @project.updated_at %></p>
